.dashboard-stats {
    margin-top: 100px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.circle-statistic {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-top: 300px;
    background: #ecf0f1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin: 10px;
    box-shadow: 25px 36px 50px rgba(0,0,0,0.6);
    transition: background-color 0.5s ease;
    animation: pulse 5s infinite;
    position: relative;
    overflow: hidden;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

.circle-statistic::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: inherit;
    z-index: -1;
    transition: transform 0.3s ease;
}


.circle-statistic .stat-number-item {
    font-size: 24px;
    font-weight: bold;
    color: #2c3e50;
    transition: transform 1s ease;
    text-align: center;
    display: inline-block;
}

.stat-number-item {
    display: inline-block;
    font-size: 24px;
    color: #333;
}

.stat-label {
    display: block;
    font-size: 18px;
    color: #000000;
    margin-top: 5px;
}

.circle-statistic .stat-label {
    font-size: 14px;
    color: #000000;
    transition: transform 1s ease;
}

.circle-statistic:hover .stat-number,
.circle-statistic:hover .stat-label {
    transform: scale(0.8); 
}

.circle-statistic.red { 
    background-color: #e74c3c; 
    color: white;
}

.circle-statistic.orange { 
    background-color: #f39c12; 
    color: white;
}

.circle-statistic.green { 
    background-color: #2ecc71; 
    color: white;
}

.circle-statistic.grade {
    background: #ecf0f1;
}

.circle-statistic.grade.red {
    background-color: #e74c3c;
    color: white;
}

.circle-statistic.grade.orange {
    background-color: #f39c12;
    color: white;
}

.circle-statistic.grade.green {
    background-color: #2ecc71;
    color: white;
}